$bluetiful: #2568e4;
$unitedNationsBlue: #5c8eeb;
$snow: #fbf5f3;
$eerieBlack: #25211f;
$fulvous: #e28413;
$rustyRed: #de3c4b;
$frenchRaspberry: #c42847;
$platinum: #edebee;
$periwinkleCrayola: #ccdaf5;
