@import '../../style/colors';

//themes
body {
	--page-background: white;
	--card-background: #{$periwinkleCrayola};
	--selected-card: #{$bluetiful};
	--add-friend-card: #{$unitedNationsBlue};
	--card-hover: #{$unitedNationsBlue};
	--text: #{$eerieBlack};
	--menu-icon: #{$eerieBlack};
	--settings-icon: #{$bluetiful};
	--settings: #{$bluetiful};
	--my-messages: #{$unitedNationsBlue};
	--my-message-text: #{$eerieBlack};
	--friend-message: #e4e6eb;
	--friend-message-text: #{$eerieBlack};
	--input: #{$platinum};
	--input-text: #{$eerieBlack};
	--input-placeholder: #a9a9a9;
	--send-icon: #{$bluetiful};
	--popout-background: white;
	--popout-accent: #{$bluetiful};
	--change-name-popout-button: #{$eerieBlack};
	--change-name-popup-button-text: #{$platinum};
}

body.dark {
	--page-background: #{$eerieBlack};
	--card-background: rgb(52, 53, 61);
	--selected-card: #{$rustyRed};
	--add-friend-card: #242323;
	--card-hover: #242323;
	--text: #{$platinum};
	--settings: #{$rustyRed};
	--menu-icon: #{$platinum};
	--settings-icon: #{$rustyRed};
	--my-messages: #{$rustyRed};
	--my-message-text: #{$platinum};
	--friend-message: rgb(75, 75, 75);
	--friend-message-text: #{$platinum};
	--input: rgb(75, 75, 75);
	--input-text: #{$platinum};
	--input-placeholder: #cacaca;
	--send-icon: #{$rustyRed};
	--popout-background: #{$eerieBlack};
	--popout-accent: #{$rustyRed};
	--change-name-popout-button: rgb(52, 53, 61);
	--change-name-popup-button-text: #{$platinum};
}

@keyframes panel-close {
	100% {
		width: 100px;
	}
}
@keyframes panel-open {
	0% {
		width: 100px;
	}
	100% {
		width: 500px;
	}
}

@keyframes right-message-load {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes left-message-load {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes popup {
	from {
		transform: scale(0, 0);
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: scale(1, 1);
	}
}

.page_main {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	background-color: var(--page-background);

	* {
		font-family: 'Outfit', sans-serif;
		font-size: medium;

		//theme change transition
		transition-property: background-color, color;
		transition-timing-function: ease-in-out;
		transition-duration: 0.3s;
	}
}

.left_panel {
	width: 500px;
	height: 100%;
	flex-basis: auto;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.head {
		width: auto;
		height: 70px;
		margin: 10px;
		padding: 10px;

		background-color: var(--card-background);
		color: var(--text);
		border-radius: 20px;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		h4,
		p {
			margin-left: 10px;
			margin-right: 10px;
		}

		div:last-of-type {
			margin-left: auto;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 10px;
		}

		.settings_icon {
			width: 25px;
			height: 25px;

			transition: transform;
			transition-duration: 0.3s;
			transition-timing-function: ease-in-out;

			color: var(--settings-icon);

			&:hover {
				cursor: pointer;
			}
			&:active {
				transform: scale(0.95, 0.95);
			}
		}

		.menu_icon {
			width: 30px;
			height: 30px;

			color: var(--menu-icon);

			transition: transform;
			transition-duration: 0.3s;
			transition-timing-function: ease-in-out;

			&:hover {
				cursor: pointer;
			}

			&:active {
				transform: scale(0.95, 0.95);
			}
		}
	}

	//* settings panel animation
	.user_settings {
		height: 100%;
		margin: 10px;
		padding: 15px;
		overflow: hidden;
		overflow-y: scroll;
		scroll-behavior: smooth;
		&::-webkit-scrollbar {
			display: none;
		}

		background-color: var(--card-background);
		border-radius: 20px;

		list-style: none;

		display: flex;
		flex-direction: column;
		gap: 10px;

		li {
			width: 100%;
			height: fit-content;
			padding: 10px;
			border-radius: 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: var(--settings);
			font-weight: 600;

			color: var(--text);

			transition: transform;
			transition-duration: 0.3s;
			transition-timing-function: ease-in-out;

			&:hover {
				cursor: pointer;
				transform: translateX(5px);
			}

			&:active {
				transform: scale(0.95, 0.95);
			}

			.name_icon {
				width: 20px;
				height: 20px;
			}

			label {
				width: 100%;
				height: 100%;
				padding: 10px;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;

				&:hover {
					cursor: pointer;
				}

				input {
					display: none;

					&:checked + .theme_toggle {
						background-color: $eerieBlack;

						&::after {
							transform: translateX(15px);
							background-color: $platinum;
						}
					}
				}

				.theme_toggle {
					width: 35px;
					height: 20px;
					background-color: $platinum;
					border-radius: 10px;
					position: relative;

					&::after {
						content: '';
						width: 10px;
						height: 10px;
						background-color: $eerieBlack;
						border-radius: 50%;
						position: absolute;
						left: 5px;
						top: 5px;
						transition-property: transform, background-color;
						transition-duration: 0.3s;
						transition-timing-function: ease-in-out;
					}
				}
			}

			.logout_icon {
				width: 20px;
				height: 20px;
			}
		}

		.theme_li {
			padding: 0;
		}
	}

	.contacts_list {
		height: 100%;
		margin: 10px;
		padding: 15px;
		overflow: hidden;
		overflow-y: scroll;
		scroll-behavior: smooth;
		&::-webkit-scrollbar {
			display: none;
		}

		background-color: var(--card-background);
		border-radius: 20px;

		list-style: none;

		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.add_friend {
		width: auto;
		padding: 8px;
		border-radius: 20px;
		background-color: var(--add-friend-card);
		color: var(--text);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		font-weight: 600;

		box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

		transition: transform;
		transition-duration: 0.3s;
		transition-timing-function: ease-in-out;

		&:hover {
			transform: scale(0.97, 0.97);
			cursor: pointer;
		}

		&:active {
			transform: scale(0.93, 0.93);
		}

		.add_friend_icon {
			width: 20px;
			height: 20px;
		}
	}

	.contact {
		width: auto;
		height: 70px;
		padding: 10px;
		border-radius: 20px;

		color: var(--text);

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		transition: transform;
		transition-duration: 0.3s;
		transition-timing-function: ease-in-out;

		&:hover {
			cursor: pointer;
			background-color: var(--card-hover);
			transform: translateX(5px);

			box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
		}

		&:active {
			transform: scale(0.95, 0.95);
		}

		h2 {
			display: none;
		}

		div {
			margin-left: 10px;

			p {
				margin-left: 20px;
			}
		}

		p {
			align-self: flex-start;
			margin-top: 10px;
			margin-left: auto;
		}
	}

	.contact_selected {
		background-color: var(--selected-card);

		box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

		&:hover {
			background-color: var(--selected-card);
		}
	}
}

.left_panel_closed {
	animation: panel-close 0.5s forwards ease-in-out;

	.head {
		div:first-of-type {
			display: none;
		}
		justify-content: center;
		.settings_icon {
			display: none;
		}
	}
	h4,
	p {
		display: none;
	}
	.contacts_list li:first-of-type {
		justify-content: center;
	}
	.contacts_list .contact {
		h2 {
			display: block;
		}
		div {
			display: none;
		}
		justify-content: center;
	}
}

.left_panel_open {
	animation: panel-open 0.5s forwards ease-in-out;
}

.right_panel {
	width: 100%;
	height: 100%;
	margin-right: 10px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	.chat_title {
		width: 100%;
		height: 70px;
		margin: 10px;
		padding: 10px;
		padding-left: 20px;
		margin-bottom: 0;

		background-color: var(--card-background);
		color: var(--text);
		border-radius: 20px;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		gap: 10px;

		.mobile_menu {
			display: none;
		}
	}

	.chat {
		width: 100%;
		height: 100%;
		margin-bottom: 5px;
		padding: 5px;
		overflow: hidden;
		overflow-y: scroll;
		scroll-behavior: smooth;
		&::-webkit-scrollbar {
			display: none;
		}

		display: flex;
		flex-direction: column-reverse;
		gap: 10px;

		.message {
			width: fit-content;
			max-width: 50%;
			height: fit-content;
			padding: 10px;

			border-radius: 20px;

			box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

			//* fix string overflow

			p {
				overflow-wrap: break-word;
			}
		}

		.message_left {
			background-color: var(--friend-message);
			color: var(--friend-message-text);
			//! set animations animation: left-message-load 0.5s ease-in-out forwards;
		}

		.message_right {
			align-self: flex-end;
			background-color: var(--my-messages);
			color: var(--my-message-text);
			//! set animations animation: right-message-load 0.5s ease-in-out forwards;
		}
	}

	.bottom_input {
		height: 40px;
		width: 100%;
		margin: 10px;
		margin-top: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.message_input {
		height: 100%;
		width: 100%;
		padding: 10px;
		background-color: var(--input);
		border-style: none;
		border-radius: 20px;
		outline: none;
		caret-color: #767079;
		color: var(--input-text);
		&::placeholder {
			color: var(--input-placeholder);
		}
	}

	.send_icon {
		width: 30px;
		height: 30px;
		margin-left: 10px;
		color: var(--send-icon);
		transition: transform;
		transition-duration: 0.3s;
		transition-timing-function: ease-in-out;

		&:hover {
			cursor: pointer;
			transform: scale(0.97, 0.97);
		}

		&:active {
			transform: scale(0.93, 0.93);
		}
	}
}

.acrylic {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #00000080;
	backdrop-filter: blur(3px);
}

.change_name {
	animation-name: popup;
	animation-duration: 0.2s;
	animation-timing-function: cubic-bezier(0.65, -0.01, 0.43, 1.22);
	animation-fill-mode: forwards;
	width: 400px;
	height: fit-content;
	padding: 20px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color: var(--popout-background);
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;

	input {
		width: 100%;
		height: 40px;
		padding: 10px;
		appearance: none;
		border: none;
		outline: none;
		background-color: var(--input);
		color: var(--input-text);
		border-radius: 20px;
		margin-right: 10px;

		&::placeholder {
			color: var(--input-placeholder);
		}
	}

	footer {
		width: 100%;
		height: fit-content;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		gap: 10px;
	}

	button {
		width: 80px;
		height: 40px;
		appearance: none;
		background-color: var(--change-name-popout-button);
		border: none;
		border-radius: 20px;
		color: var(--change-name-popup-button-text);
		text-align: center;
		align-self: flex-end;

		transition: transform;
		transition-duration: 0.3s;
		transition-timing-function: ease-in-out;

		&:hover {
			cursor: pointer;
			transform: scale(0.97, 0.97);
		}

		&:active {
			transform: scale(0.93, 0.93);
		}
	}

	button:last-of-type {
		background-color: var(--popout-accent);
	}
}

.add_friend_popup {
	animation-name: popup;
	animation-duration: 0.2s;
	animation-timing-function: cubic-bezier(0.65, -0.01, 0.43, 1.22);
	animation-fill-mode: forwards;
	width: 400px;
	height: 600px;
	padding: 20px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color: var(--popout-background);
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	input {
		width: 100%;
		height: 40px;
		padding: 10px;
		margin-bottom: 10px;
		appearance: none;
		border: none;
		outline: none;
		background-color: var(--input);
		border-radius: 20px;
		color: var(--input-text);

		&::placeholder {
			color: var(--input-placeholder);
		}
	}

	.searched_users_list {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 10px;
		overflow: hidden;
		overflow-y: scroll;
		scroll-behavior: smooth;
		&::-webkit-scrollbar {
			display: none;
		}

		.newfriend {
			width: 100%;
			height: 50px;
			padding: 15px;
			background-color: var(--card-background);
			border-radius: 20px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: 10px;

			transition: transform;
			transition-duration: 0.3s;
			transition-timing-function: ease-in-out;

			color: #fff;

			//add icon
			& > *:last-child {
				width: 22px;
				height: 22px;
				margin-left: auto;
			}

			&:hover {
				cursor: pointer;
				transform: scale(0.98, 0.98);
			}

			&:active {
				transform: scale(0.95, 0.95);
			}
		}
	}

	footer {
		width: 100%;
		height: fit-content;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;

		button {
			width: 80px;
			height: 40px;
			appearance: none;
			background-color: var(--popout-accent);
			border: none;
			border-radius: 20px;
			color: $platinum;
			text-align: center;

			transition: transform;
			transition-duration: 0.3s;
			transition-timing-function: ease-in-out;

			&:hover {
				cursor: pointer;
				transform: scale(0.97, 0.97);
			}

			&:active {
				transform: scale(0.93, 0.93);
			}
		}
	}
}

//reused classes
.profile_pic {
	width: 35px;
	height: 35px;
	background-color: green;
	border-radius: 50%;
}

@media screen and (max-width: 800px) {
	.left_panel {
		display: none;

		.head .menu_icon {
			display: none;
		}
	}

	.right_panel {
		margin-left: 10px;

		.chat_title .mobile_menu {
			display: block;
			width: 30px;
			height: 30px;

			color: var(--menu-icon);

			transition: transform;
			transition-duration: 0.3s;
			transition-timing-function: ease-in-out;

			&:hover {
				cursor: pointer;
			}

			&:active {
				transform: scale(0.95, 0.95);
			}
		}
	}

	.mobile_show {
		display: flex;
	}

	.mobile_no_show {
		display: none;
	}

	.add_friend_popup {
		width: 80%;
		height: 70%;
	}

	.change_name {
		width: 80%;
	}
}
