@import '../../style/colors';

.page_main {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;

	* {
		font-family: 'Outfit', sans-serif;
		font-size: medium;
	}
}

.left_panel {
	width: 500px;
	height: 100%;
	flex-basis: auto;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.head {
		width: auto;
		height: 70px;
		margin: 10px;
		padding: 10px;

		background-color: $periwinkleCrayola;
		color: $eerieBlack;
		border-radius: 20px;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		h4,
		p {
			margin-left: 20px;
		}

		div:last-of-type {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 10px;
		}

		.settings_icon {
			width: 25px;
			height: 25px;

			color: $fulvous;

			&:hover {
				cursor: pointer;
			}
		}

		.menu_icon {
			width: 30px;
			height: 30px;

			color: $bluetiful;

			&:hover {
				cursor: pointer;
			}
		}
	}

	.user_settings {
		height: 100%;
		margin: 10px;
		padding: 15px;
		overflow: hidden;
		overflow-y: scroll;
		scroll-behavior: smooth;
		&::-webkit-scrollbar {
			display: none;
		}

		background-color: $antiqueWhite;
		border-radius: 20px;

		list-style: none;

		display: flex;
		flex-direction: column;
		gap: 10px;

		li {
			width: 100%;
			height: 50px;
			padding: 10px;
			border-radius: 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: $goldCrayola;

			color: $eerieBlack;

			transition: transform;
			transition-duration: 0.3s;
			transition-timing-function: ease-in-out;

			&:hover {
				cursor: pointer;
				transform: translateX(5px);
			}

			.logout_icon {
				width: 20px;
				height: 20px;
			}
		}
	}

	.contacts_list {
		height: 100%;
		margin: 10px;
		padding: 15px;
		overflow: hidden;
		overflow-y: scroll;
		scroll-behavior: smooth;
		&::-webkit-scrollbar {
			display: none;
		}

		background-color: $periwinkleCrayola;
		border-radius: 20px;

		list-style: none;

		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.contact {
		width: auto;
		height: 70px;
		padding: 10px;
		border-radius: 20px;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		transition: transform;
		transition-duration: 0.3s;
		transition-timing-function: ease-in-out;

		&:hover {
			cursor: pointer;
			background-color: $unitedNationsBlue;
			transform: translateX(5px);
		}

		h2 {
			display: none;
		}

		div {
			margin-left: 10px;

			p {
				margin-left: 20px;
			}
		}

		p {
			align-self: flex-start;
			margin-top: 10px;
		}
	}

	.contact_selected {
		background-color: $bluetiful;
		&:hover {
			background-color: $bluetiful;
		}
	}
}

@keyframes panel-close {
	100% {
		width: 100px;
	}
}
@keyframes panel-open {
	0% {
		width: 100px;
	}
	100% {
		width: 500px;
	}
}

.left_panel_closed {
	animation: panel-close 0.5s forwards ease-in-out;

	.head {
		div:first-of-type {
			display: none;
		}
		justify-content: center;
		.settings_icon {
			display: none;
		}
	}
	h4,
	p {
		display: none;
	}
	.contacts_list .contact {
		h2 {
			display: block;
		}
		div {
			display: none;
		}
		justify-content: center;
	}
}

.left_panel_open {
	animation: panel-open 0.5s forwards ease-in-out;
}

//* rightPanel

.right_panel {
	width: 100%;
	height: 100%;
	margin-right: 10px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	.chat_title {
		width: 100%;
		height: 70px;
		margin: 10px;
		padding: 10px;
		padding-left: 20px;
		margin-bottom: 0;

		background-color: $periwinkleCrayola;
		color: $eerieBlack;
		border-radius: 20px;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	@keyframes message-load {
		from {
			transform: translateX(300%);
		}
		to {
			transform: translateX(0);
		}
	}

	.chat {
		width: 100%;
		height: 100%;
		margin-bottom: 5px;
		overflow: hidden;
		overflow-y: scroll;
		scroll-behavior: smooth;
		&::-webkit-scrollbar {
			display: none;
		}

		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 10px;

		.message {
			width: fit-content;
			max-width: 50%;
			height: fit-content;
			padding: 10px;
			background-color: $unitedNationsBlue;
			border-radius: 20px;
			animation: message-load 0.5s ease-in-out forwards;
		}

		.message_right {
			align-self: flex-end;
		}
	}

	.message_input {
		height: 40px;
		width: 100%;
		margin: 10px;
		margin-top: 0;
		padding: 10px;
		background-color: $platinum;
		border-style: none;
		border-radius: 20px;
		outline: none;
		caret-color: #767079;
		color: $eerieBlack;
	}
}
